<%- include('partials-admin/header-admin.ejs') %>
<%- include('partials-admin/sidebar-admin.ejs') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Bienvenue sur le tableau de bord d'administration <%= utilisateur.prenom %> </h1>
    </div>
    
</div>
<!-- /.container-fluid -->

</div>


<%- include('partials-admin/footer-admin.ejs') %>
