<%- include('partials/header') %>
    <div class="col-md-12 mt-5 mb-5 nav-fill nav-cultural">
        <ul class="nav nav-tabs  ">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Activitées Culturelles</a>
            </li>
            <li class="nav-item small-nav">
                <a class="nav-link" href="#">Activitées Sportives</a>
            </li>
            <li class="nav-item small-nav">
                <a class="nav-link" href="#">Activitées Culinaires</a>
            </li>

        </ul>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center mt-5 mb-5">
                <h2>Les articles Populaires</h2>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <%- include('partials/footer') %>