<%- include('partials/header') %>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h2>Les articles Populaires</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

        </div>

    </div>

</div>



<%- include('partials/footer') %>